@import "../partials/mixins";


@media (max-width:1095px){
  .section__contactoCard{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    
    
  }
}

@media (max-width:966px){
  .section__contactoTrabajo{
   display: grid !important;
   grid-template-columns: 1fr 1fr;
   align-items: center;
  
   .contacto__cardsEco{
     display: flex;
     flex-direction: column
   }
  
  
  }
}


@media(max-width:730px){
.main__contacto{
  h1{font-size: 55px !important;}
}

  .section__contactoCard{
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
}

.section__contactoTrabajo{
  display: flex !important;
  flex-direction: column
}
}

@media (max-width:365px) {
  .main__contacto{
    h1{
      font-size: 40px !important
    }
  }

  .section__contactoTrabajo{
   
    .form__contacto{
      width: 260px;
    }
  }

  .section__contactoCard{
   
    .section__contactoDiv{
   width: 260px !important;

   img{
     width: 255px !important;
   }

   iframe{
     width: 255px !important;
   }
    }
  }
}


.main__contacto {
  @include Centrar;
  flex-direction: column;
  margin-top: 60px;

  h1 {
    font-size: 80px;
  }
}

.section__contactoCard {
  margin-top: 50px;
 display: flex;
 justify-content: space-between;
 
 gap: 30px;

  .section__contactoDiv {
    width: 340px;
    border: solid 2px;
    border-radius: 5px;

    .section__contactoImg {
      width: 338px;
      border: solid 2px;
      border-radius: 5;
      height: 215px;
    }

    .section__contactoTitle {
     margin-top: 10px;
    }
    .section__contactoP {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}


.section__contactoTrabajo{
 display: grid;
 grid-template-columns: 1fr 1fr;
 
 
 

 .contacto__cardsEco{
   display: flex;
   gap: 30px;
  
 }

  .form__contacto{
  display: flex;
  flex-direction: column;
 
  
  label{
   color: black;
   text-decoration: underline black;
   text-align: left;
   
  }

    input{
    border: rgba(128, 128, 128, 0.219) 1px solid;
    
    padding:4px 3px 4px 3px;
    }
  
  
  .contacto__radio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
 
}
}