body{
    background-color: white
}

@keyframes Texto-color {
    0% {color:black;}
    30% {color: grey;}
    60% {color: gray;}
    100% {color: rgb(20, 10, 10);}
}

@keyframes bronce{
    0%{background-color:rgb(230, 162, 3)}
    50%{background-color: rgb(200, 142, 7);}
    100%{background-color: rgb(180, 149, 78);}
}


@keyframes plata{
    0%{background-color:rgb(238, 245, 246)}
    50%{background-color: rgb(192, 191, 189);}
    100%{background-color: rgb(158, 156, 152);}
}


@keyframes oro{
    0%{background-color:rgb(221, 217, 5)}
    50%{background-color: rgb(241, 226, 11);}
    100%{background-color: rgb(228, 216, 49);}
}


@keyframes background-color {
    0% {background-color: whitesmoke;}
    40% {background-color: rgb(112, 106, 106);}
    80% {background-color: rgb(163, 159, 159);}
    100%{background-color: white;}
}


.main{
    text-align: center;
  
}

.main__title{
    
    margin-top: 5px;
    border-radius: 10px;

}

.card-cont{
    color: white;
    background-color: black !important;
}

.section__pic{
    border-radius: 10px;
}

.Logo{
    width: 250px;
  
}

.separation{
    margin-top: 25px;
}

.centrar{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    
}

.center-divs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-style: groove;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
}

.main__log{
    text-align: center;
}

.center-divs input{
    width: 50%;
    border-radius: 100px;
}

.center-div button{
    margin-top: 20px;
    background-color: black !important;
}

.margin legend{
    text-align: center;
}

.main__h5{
    display: flex;
    align-items: center;
}

.section__title{
    text-align: center;
    margin-top: 10px;
    color: rgba(3, 3, 3, 0.924);
    animation-name: Texto-color;
    animation-iteration-count: infinite;
    animation-duration: 4s;
 

}

.section__card{
    display: flex;
    justify-content: space-around;
}

.card{
    margin-top: 70px;
}

.section__p{
    color: rgba(0, 0, 0, 0.561);
}

.carousel{
    width: 700px;
  
}



.class{
    color: black;
    border: solid black 10px;
}

.carousel__center{
    display: flex !important    ;
    justify-content: center !important;
    align-items: center !important  ;
    
}

.footer{
   color: white;
   margin-top: 200px;
   
}

.foot__class{
    color: white !important ;
}

.card-body{
    background-color: whitesmoke;
    
  
}

.imagen__view{
    display: none;
}

.contenedor{
    
    width: 300px;
    
    background-color:  hsl(216, 50%, 16%);
  
    border-radius: 10px;
}

.imagen__cont{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    
}

.contenedor__img{
    width: 280px;
    margin-top: 20px;
    border-radius: 10px;
}

.contenedor__img:hover{
    opacity: 0.5;
    background-color: turquoise !important;
   
}

.title__contenedor{
    color:  hsl(0, 0%, 100%);
    width: 85%;
      margin-bottom: 0px;
      text-align: center;
    
}

.title__contenedor:hover{
    color: cyan;
}

.p__contenedor{
 width: 85%;
 font-size: 15px;
 color: hsl(215, 51%, 70%);
 line-height: 25px;
 text-align: center;
}

.div__contenedor{
    display: flex !important;
    justify-content: space-around !important;
}

.price{
    display: flex;
    color: hsl(178, 100%, 50%);
    align-items: center;
    margin-right: 45px;
}

.price img{
    width: 13px;
    height: 15px;
    align-items: center;
    margin-bottom: 13px;
    margin-right: 3px;
}

.time{
    display: flex;
    color: hsl(215, 51%, 70%);
    align-items: center;
}

.time img{
    width: 13px;
    height: 15px;
    margin-bottom: 13px;
    
}

.barra__hr{
 width: 270px;
     
}

.div__avatar{
    display: flex;
    margin-left: 25px;
    align-items: center;
    gap: 10px; 
    color:hsl(215, 51%, 70%);
    
}

.avatar{
    width: 35px;
    height: 30px;
    border:solid white 1px !important;
    border-radius: 1000px;
    margin-bottom: 13px;
}

.div__avatar p{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.div__avatar p:hover{
    color: cyan;
}

@media (max-width:908px){
.cards{
    display: grid !important;
    grid-template-columns: 1fr;
    justify-items: center;
}

.contenedor{
    margin-top: 30px;

}

}

.cards{
    margin-top: 20px;
    display: flex;
  
    font-family: "Outfit";
    
    justify-content: space-evenly;
}

.texto-tienda{
    text-align: center;
    
}



.texto-tienda p{
    color: gray;
}

.linea{
        border-top: 1px solid black;
        height: 2px;
        max-width: 80%;
        padding: 0;
        margin: 20px auto 0 auto;
      
}

.texto-final{
    text-align: center;
    margin-top: 40px;
}

.contacto{
 display: grid;
 grid-template-columns: 1fr;
 text-align: center;
 justify-items: center;
}

.input-contacto{
    width: 350px;
}

@media (max-width:910px){
    .main__mapa{
        display: flex;
        flex-direction: column;
    }

    .main__textmap{
        text-align: center;
    }
}



.main__mapa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__textmap{
    margin-left: 45px;
}

.main__h1{
    text-align: center;
}

.form__button{
    margin-top: 10px;
    width: 350px;
}

.main__h1{
    text-align: center !important;
}

.div__remember{
    display: flex;
    
    
    justify-content: center;
}

.form__inicio{
   display: flex;
   flex-direction: column;
   align-items: center;

}


.inicio-sersion{
    border: solid 1px;
    background-color: rgba(0, 0, 0, 0.924);
    color: white;
    border-radius: 30px;

    margin-top: 15px;
}

@media (max-width:551px){
    .section__card{
        display: flex !important;
        flex-direction: column;
       
        align-items: center;
    }
}


.counter__section{
    margin-top:40px;
  flex-direction: column;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: solid black 1px;
    background-color: rgb(6, 7, 7);
  color:white;  
  animation-name: background-color;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
}

.section__duda{
    margin-top: 100px;
   display: flex;
   
   justify-content: center;
   border: solid 1px grey;
   border-radius: 20px;
}

.div__centrarr{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__intro{
    display: flex;
    align-items: center !;
    justify-content: center;
    text-align: center;
    margin-top: 30px
}

.div__textcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-main{
 display: none;   
}



.boton__mock a{
text-decoration: none;
color: white;
}





.buy__section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.btnn{
    margin-left: 30%;
    margin-top: 5px;
}

@media (max-width:900px){
.img__sec{
    display: none;
}
}

.tienda-h1{
    animation-name: Texto-color;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.bronce-head{
    animation-name: bronce;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.bronce-head button{
    animation-name: bronce;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}


.plata-head{
    animation-name: plata;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.plata-head button{
    animation-name: plata;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.oro-head{
    animation-name: oro;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.oro-head button{
    animation-name: oro;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}