.caja1 {
  width: 150px;
  height: 150px; }

.main__registro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  flex-direction: column; }
  .main__registro .main__cont {
    border: solid 1px rgba(128, 128, 128, 0.616);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    border-radius: 4px; }
  .main__registro img {
    width: 200px; }
  .main__registro form {
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .main__registro input {
    width: 250px;
    height: 26px;
    display: flex;
    align-items: center;
    border-color: rgba(65, 65, 66, 0.123);
    padding: 15px; }
  .main__registro button {
    background-color: #3dd8ec;
    color: white;
    border-radius: 5px;
    border: 1px rgba(128, 128, 128, 0);
    padding: 6px; }
  .main__registro .separador__registro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px; }
  .main__registro .facebook__registro {
    margin-bottom: 10px; }
  .main__registro .section__registro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    border-radius: 4px;
    border: solid 1px rgba(128, 128, 128, 0.616);
    padding: 7px;
    margin-top: 10px; }
  .main__registro .botonApp__botones {
    display: flex;
    align-items: center; }
  .main__registro .play {
    width: 200px; }
  .main__registro .apple {
    width: 200px;
    height: 50px; }

@media (max-width: 419px) {
  p {
    font-size: 10px; }
  .botonApp__botones {
    flex-direction: column; }
  .apple {
    width: 178px !important; } }

.caja1 {
  width: 150px;
  height: 150px; }

.caja1 {
  width: 150px;
  height: 150px; }

@media (max-width: 716px) {
  .img__mobile {
    width: 100%;
    display: inline-block !important; }
  .img__desktop {
    display: none; } }

/*Imagen inicial para ordenador*/
.img__desktop {
  width: 100%;
  height: 600px; }

/*Imagen inicial para Mobile*/
.img__mobile {
  display: none; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }

/* texto h1  y p */
.section__mainTienda {
  text-align: center; }
  .section__mainTienda p {
    color: #696868; }

/* barra divisoria*/
.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 80%;
  padding: 0;
  margin: 20px auto 0 auto; }

/* estilos de las cards y botones */
.section__buy {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .section__buy .div__tienda {
    display: flex;
    justify-content: space-between; }
    .section__buy .div__tienda .card-body {
      background-color: whitesmoke; }
    .section__buy .div__tienda .btn__esqueleto {
      width: 80px;
      height: 25px;
      border-radius: 7px;
      font-size: 13px;
      color: whitesmoke; }

/* Animaciones de bordes y botones de las cajas de la derecha */
.img__sec .bronce-head {
  animation-name: bronce;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .bronce-head button {
  animation-name: bronce;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .plata-head {
  animation-name: plata;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .plata-head button {
  animation-name: plata;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .oro-head {
  animation-name: oro;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .oro-head button {
  animation-name: oro;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

.img__sec .btnn {
  margin-left: 30%;
  margin-top: 5px; }

.texto-final {
  text-align: center;
  margin-top: 40px; }

/*Vista mobile*/
@media (max-width: 880px) {
  .section__buy {
    display: flex;
    flex-direction: column; } }

.main__h1 {
  text-align: center !important; }

/* imagenes arriba del footer*/
.section__boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; }
  .section__boxes .section__box1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__boxes .section__box1 a {
      text-decoration: none;
      color: #0e0d1f; }
    .section__boxes .section__box1 .box1, .section__boxes .section__box1 .box3 {
      width: 240px; }
    .section__boxes .section__box1 .box2 {
      width: 150px; }

@media (max-width: 618px) {
  .section__boxes {
    display: flex;
    flex-direction: column;
    gap: 30px; } }

@media (max-width: 1095px) {
  .section__contactoCard {
    display: grid !important;
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 966px) {
  .section__contactoTrabajo {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
    .section__contactoTrabajo .contacto__cardsEco {
      display: flex;
      flex-direction: column; } }

@media (max-width: 730px) {
  .main__contacto h1 {
    font-size: 55px !important; }
  .section__contactoCard {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column; }
  .section__contactoTrabajo {
    display: flex !important;
    flex-direction: column; } }

@media (max-width: 365px) {
  .main__contacto h1 {
    font-size: 40px !important; }
  .section__contactoTrabajo .form__contacto {
    width: 260px; }
  .section__contactoCard .section__contactoDiv {
    width: 260px !important; }
    .section__contactoCard .section__contactoDiv img {
      width: 255px !important; }
    .section__contactoCard .section__contactoDiv iframe {
      width: 255px !important; } }

.main__contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 60px; }
  .main__contacto h1 {
    font-size: 80px; }

.section__contactoCard {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px; }
  .section__contactoCard .section__contactoDiv {
    width: 340px;
    border: solid 2px;
    border-radius: 5px; }
    .section__contactoCard .section__contactoDiv .section__contactoImg {
      width: 338px;
      border: solid 2px;
      border-radius: 5;
      height: 215px; }
    .section__contactoCard .section__contactoDiv .section__contactoTitle {
      margin-top: 10px; }
    .section__contactoCard .section__contactoDiv .section__contactoP {
      margin-left: 10px;
      font-weight: bold; }

.section__contactoTrabajo {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .section__contactoTrabajo .contacto__cardsEco {
    display: flex;
    gap: 30px; }
  .section__contactoTrabajo .form__contacto {
    display: flex;
    flex-direction: column; }
    .section__contactoTrabajo .form__contacto label {
      color: black;
      text-decoration: underline black;
      text-align: left; }
    .section__contactoTrabajo .form__contacto input {
      border: rgba(128, 128, 128, 0.219) 1px solid;
      padding: 4px 3px 4px 3px; }
    .section__contactoTrabajo .form__contacto .contacto__radio {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px; }

* {
  font-family: "roboto"; }

@media (max-width: 651px) {
  .section__intro {
    display: flex;
    flex-direction: column; }
    .section__intro .card__box {
      border: solid 1px gray;
      margin-top: 10px;
      border-radius: 5px; }
  .section__card {
    display: flex !important;
    flex-direction: column;
    align-items: center; }
  .img-back {
    display: none; }
  .img-front {
    width: 100%;
    display: inline-block !important; } }

@media (max-width: 450px) {
  .d-flex {
    display: flex;
    flex-direction: column; } }

.img-front {
  display: none; }

.img-back {
  width: 100%;
  height: 600px; }

.main {
  text-align: center; }
  .main .main__title {
    margin-top: 5px;
    border-radius: 10px; }
    .main .main__title .section__title {
      text-align: center;
      margin-top: 10px;
      color: rgba(3, 3, 3, 0.924);
      animation-name: Texto-color;
      animation-iteration-count: infinite;
      animation-duration: 4s; }
      .main .main__title .section__title .section__p {
        color: rgba(0, 0, 0, 0.561); }

.section__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px; }
  .section__intro .div__textcenter {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.section__card {
  display: flex;
  justify-content: space-around; }
  .section__card .card {
    margin-top: 70px; }
    .section__card .card .card-body {
      background-color: whitesmoke; }
      .section__card .card .card-body .button__cards {
        border: solid 1px blue;
        background-color: #10adeb; }

.counter__section {
  margin-top: 40px;
  flex-direction: column;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: solid black 1px;
  background-color: #060707;
  color: white;
  animation-name: background-color;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.section__duda {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  border: solid 1px grey;
  border-radius: 20px; }
  .section__duda .div__centrarr {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.display-1 {
  margin-top: 70px; }

.btn--bronce {
  background-color: #ac8813; }

.btn--plata {
  background-color: #9b9494; }

.btn--oro {
  background-color: gold; }

* {
  font-family: "roboto";
  font-weight: bold; }
